<%= form_for [@family, @student], :html => { :class => "form-horizontal student" } do |f| %>

    <% if @student.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<div class ="row" >
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:first_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:last_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :teacher, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select( :student, :teacher_id, Teacher.active, :id, :last_name ) %>
    </div>
    <%= error_span(@student[:teacher_id]) %>
  </div>
  <%= f.submit nil, :class => 'btn btn-primary' %>
</div>

<% end %>
