<p id="notice"><%= notice %></p>

<h2><%= @family.name %> Family Information</h2>

<br>
  
<%= link_to 'Edit Family', 
            edit_family_path( @family ) %> | 
<%= link_to 'Delete Family', 
            family_path( @family ), 
            method: :delete, 
            data:{ confirm: "Are you sure you want to delete this family?" } %> |


<h3>Students</h3>
<table>
  <thead>
    <tr>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
  <% @family.students.each do |student| %>
    <tr>
      <td><%= link_to student.first_name, [ @family, student ] %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Add New Student',
            new_family_student_path( @family ) %>
