<p id="notice"><%= notice %></p>

<h1><%= @family.name %> Family Details</h1>

<h2>Students</h2>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
    </tr>
  </thead>
  
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.fname %></td>
        <td><%= student.lname %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  


<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
