<p id="notice"><%= notice %></p>

<h2><%= @family.name %> Family Information</h2>

<br>
  
<%= link_to 'Edit Family', 
            edit_family_path( @family ) %> | 
<%= link_to 'Delete Family', 
            family_path( @family ), 
            method: :delete, 
            data:{ confirm: "Are you sure you want to delete this family?" } %> |

<%= link_to 'Add New Student',
            new_family_student_path( @family ) %>
