<%- model_class = Family -%>
<div class="page-header">
  <h1><%=t '.title', :default => "#{@family.name.titleize} #{model_class.model_name.human.titleize}" %></h1>
</div>

<dl>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @family.email %></dd>
</dl>

<h3>Students</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Student</th>
      <th>Grade</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @family.students.active.each do |student| %>
      <tr>
        <td><%= student.first_name  %></td>
        <td><%= student.grade %></td>
        <td><%= link_to "View", [ @family, student ], :class =>"btn btn-default btn-xs" %>  
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New Student",
            new_family_student_path( @family ),
            :class => 'btn btn-primary' %>

<h3>Parents</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Parent</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @family.parents.active.each do |parent| %>
      <tr>
        <td><%= parent.first_name %></td>
        <td><%= link_to "View", [ @family, parent ], :class =>"btn btn-default btn-xs" %> 
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New Parent",
            new_family_parent_path( @family ),
            :class => 'btn btn-primary' %>

<h3>Vehicles</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Color</th>
      <th>License</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @family.vehicles.active.each do |vehicle| %>
      <tr>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.color %></td>
        <td><%= vehicle.license %></td>
        <td><%= vehicle.state %></td>
        <td><%= link_to "View", [ @family, vehicle ], :class =>"btn btn-default btn-xs" %> 
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New Vehicle",
            new_family_vehicle_path( @family ),
            :class => 'btn btn-primary' %>

<h3>QR Codes</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Code Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @family.qrcodes.each do |qrcode| %>
      <tr>
        <td><%= qrcode.id %></td>
        <td><%= link_to "View", [ @family, qrcode ], :class =>"btn btn-default btn-xs" %> 
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New QR Code",
            new_family_qrcode_path( @family ),
            :class => 'btn btn-primary' %>
         
<br>
<br>

<%= link_to t('.back', :default => t("helpers.links.back")),
              families_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_family_path(@family), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              family_path(@family),
              :method => 'destroy',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
