<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @pickup.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @pickup.time %>
</p>

<p>
  <strong>Group:</strong>
  <%= @pickup.group %>
</p>

<%= link_to 'Edit', edit_pickup_path(@pickup) %> |
<%= link_to 'Back', pickups_path %>
