<div id='vehicle'>
  <h2><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></h2>
  <p>Color: <%= @vehicle.color %></p>
  <p>License: <%= @vehicle.license %> <%= @vehicle.state %> </p>
  <%= link_to "#{@family.name}'s Family Page", family_path(@family)  %> 
</div>
