<%= form_for @release, :html => { :class => "form-horizontal release" } do |f| %>

    <% if @release.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@release.errors.count, "error") %> prohibited this release from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @release.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :c_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :c_at, :class => 'form-control' %>
    </div>
    <%= error_span(@release[:c_at]) %>
  </div>
  <div class="control-group">
    <%= f.label :family_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :family_id, :class => 'form-control' %>
    </div>
    <%= error_span(@release[:family_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :educator_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :educator_id, :class => 'form-control' %>
    </div>
    <%= error_span(@release[:educator_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :student_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :student_id, :class => 'form-control' %>
    </div>
    <%= error_span(@release[:student_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            releases_path, :class => 'btn btn-default' %>

<% end %>
