<%- model_class = Release -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:c_at) %></th>
      <th><%= model_class.human_attribute_name(:student_id) %></th>
      <th><%= model_class.human_attribute_name(:teacher_id) %></th>
    </tr>
  </thead>
  <tbody>
    <% @releases.each do |release| %>
      <tr>
        <td><%= release.c_at %></td>
        <td><%= release.student_id %></td>
        <td><%= release.teacher_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_release_path,
            :class => 'btn btn-primary' %>
